{% extends 'base.html' %}

 {% block body %}
 <div  class="text-center">
 <h1 style="color:green;">Contact Us</h1>
 <h1 style="color:black;">.</h1>
 <h2 style="color:green;">Contact us on Telegram using our bot - <a class="btn btn-success" href="https://telegram.me/hc_query_bot" role="button">Bot</a></h2>
 <h1 style="color:black;">.</h1>
 <h2 style="color:green;">Contact to the owner of website on Instagram -  <a class="btn btn-success" href="https://instagram.com/mayvidxd" role="button">mayvidxd</a></h2>
 <h1 style="color:black;">.</h1>
 <h2 style="color:green;">Contact to the owner of hardcore on Telegram -  <a class="btn btn-success" href="https://telegram.me/monkya102" role="button">Monkya</a></h2>
 <h1 style="color:black;">.</h1>
 <h2 style="color:green;">Contact to the co-owner of hardcore on Telegram -  <a class="btn btn-success" href="https://telegram.me/mayvidxd" role="button">Mayvid</a></h2>
 <h1 style="color:black;">.</h1>
 <h2 style="color:green;">Contact to the co-owner of hardcore on Telegram -  <a class="btn btn-success" href="https://telegram.me/Tag_kiya_kya" role="button">Ankit</a></h2>
 <body background = "/static/byn.jpg"
 {% endblock body %}