{% extends 'base.html' %}


{% block body %}
<div  class="text-center">
<h1 style="color:black;">.</h1>
<h1 style="color:green;">About Us</h1>
<h1 style="color:black;">.</h1>
<h2 style="color:green;">HC stands for Hardcore. It is a private community mainly founded for Programmers and hackers. </h2>
<h2 style="color:green;">The community was founded by Monkya and Mayvid on 15th march 2021. </h2>
<h2 style="color:green;">We as a team Strive to support each other. </h2>
<a class="btn btn-success" href="https://telegram.me/joinchat/ijqsdhtPKVtlZWJh" role="button">Join Group</a>
<h1 style="color:black;">.</h1>
<h1 style="color:green;">Our Projects</h1>
<h1 style="color:black;">.</h1>
<h2 style="color:green;">To check the list of our projects click the button below. </h2>
<a class="btn btn-success" href="https://telegram.me/hardcore_projects" role="button">Our Projects</a>

</div>





<body background = "/static/byn.jpg"
{% endblock body %}


