{% extends 'base.html' %}

 {% block body %}

 <h1 class="text-center" style="color:green;">Rules & Guidelines</h1>
 <h1 style="color:black;">.</h1>
 <h2 style="color:green;">1. SUPPORT is the key to motivation! Members should be friendly and positive to their teammates and support them. </h2>
 <h3 style="color:black;">. </h3>
 <h2 style="color:green;">2. If you are interested in joining the team, please complete the “Join Us” section. </h2>
 <h3 style="color:black;">. </h3>
 <h2 style="color:green;">3. If you have a problem with any of the members, please message us. We’ll do our best to resolve the situation. If the situation can’t be resolved, the member responsible will be kicked from the community. </h2>
 <h3 style="color:black;">. </h3>
 <h2 style="color:green;">4. HC is a drama free zone. Any person who causes any scandal / rage by being rude, aggressive, etc. to another member debating on political matter will be asked to leave the team. </h2>
 <h3 style="color:black;">. </h3>
 <h2 style="color:green;">5. Once a member leaves the team, he / she will be removed from the website, our personal lists and any other record we may have them. </h2>
 <h3 style="color:black;">. </h3>
 <h2 style="color:green;">6. You have to use our tag ⚚𝙃𝘾⚚ in your name and ✅ @hardcore_verified in your bio. </h2>
 <body background = "/static/byn.jpg"
 {% endblock body %}

